

<ul>
    <li><img (click)="sendPierre()" src="/assets/pierre.PNG"></li>
    <li><img (click)="sendPapier()" src="/assets/papier.PNG"></li>
    <li><img (click)="sendCiseaux()" src="/assets/ciseaux.PNG"></li>
</ul>
    

