





<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>

  <table>
    <tr>
    <td><app-randomiser (sendRequest)="checkChoise($event)"></app-randomiser></td>
    <td class = "final">{{final}}</td>
    <td>
      <img *ngIf="showPierre" src="/assets/pierre.PNG">
      <img *ngIf="showPapier" src="/assets/papier.PNG">
      <img *ngIf="showCiseaux" src="/assets/ciseaux.PNG">
    </td>
  </tr>
  <tr><td></td>
    <td> {{explication}} </td>
  </tr>
  </table>
      

</body>

</html>