.final {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 400%; 
    text-align: center;
    color: #63a2ff;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
}

body {
    text-align: center;
   }